{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="image-container">
  <div class="image-wrapper">
    <img src="{% static 'ก.png' %}" alt="ก" data-video="{% static 'ก.mp4' %}">
  </div>
  <div class="image-wrapper">
    <img src="{% static 'ข.png' %}" alt="ข" data-video="{% static 'ข.mp4' %}">
  </div>
  <div class="image-wrapper">
    <img src="{% static 'ค.png' %}" alt="ค" data-video="{% static 'ค.mp4' %}">
  </div>
    <div class="image-wrapper">
    <img src="{% static 'ฆ.png' %}" alt="ฆ" data-video="{% static 'ฆ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ง.png' %}" alt="ง" data-video="{% static 'ง.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'จ.png' %}" alt="จ" data-video="{% static 'จ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ฉ.png' %}" alt="ฉ" data-video="{% static 'ฉ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ช.png' %}" alt="ช" data-video="{% static 'ช.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ซ.png' %}" alt="ซ" data-video="{% static 'ซ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ฌ.png' %}" alt="ฌ"data-video="{% static 'ฌ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ญ.png' %}" alt="ญ" data-video="{% static 'ญ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ฎ.png' %}" alt="ฎ" data-video="{% static 'ฎ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ฏ.png' %}" alt="ฏ" data-video="{% static 'ฎ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ฐ.png' %}" alt="ฐ" data-video="{% static 'ฐ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ฑ.png' %}" alt="ฑ" data-video="{% static 'ฑ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ฒ.png' %}" alt="ฒ" data-video="{% static 'ฒ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ณ.png' %}" alt="ณ" data-video="{% static 'ณ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ด.png' %}" alt="ด" data-video="{% static 'ด.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ต.png' %}" alt="ต" data-video="{% static 'ต.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ถ.png' %}" alt="ถ" data-video="{% static 'ถ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ท.png' %}" alt="ท" data-video="{% static 'ท.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ธ.png' %}" alt="ธ" data-video="{% static 'ธ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'น.png' %}" alt="น" data-video="{% static 'น.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'บ.png' %}" alt="บ" data-video="{% static 'บ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ป.png' %}" alt="ป" data-video="{% static 'ป.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ผ.png' %}" alt="ผ" data-video="{% static 'ผ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ฝ.png' %}" alt="ฝ" data-video="{% static 'ฝ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'พ.png' %}" alt="พ" data-video="{% static 'พ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ฟ.png' %}" alt="ฟ" data-video="{% static 'ฟ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ภ.png' %}" alt="ภ" data-video="{% static 'ภ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ม.png' %}" alt="ม" data-video="{% static 'ม.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ย.png' %}" alt="ย" data-video="{% static 'ย.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ร.png' %}" alt="ร" data-video="{% static 'ร.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ล.png' %}" alt="ล" data-video="{% static 'ล.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ว .png' %}" alt="ว" data-video="{% static 'ว.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ศ.png' %}" alt="ศ" data-video="{% static 'ศ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ษ.png' %}" alt="ษ" data-video="{% static 'ษ.mp4' %}">
  </div>
    <div class="image-wrapper">
   <img src="{% static 'ส.png' %}" alt="ส" data-video="{% static 'ส.mp4' %}">
  </div>
    <div class="image-wrapper">
     <img src="{% static 'ห.png' %}" alt="ห" data-video="{% static 'ห.mp4' %}">
  </div>
    <div class="image-wrapper">
     <img src="{% static 'ฬ.png' %}" alt="ฬ" data-video="{% static 'ฬ.mp4' %}">
  </div>
    <div class="image-wrapper">
     <img src="{% static 'อ.png' %}" alt="อ" data-video="{% static 'อ.mp4' %}">
  </div>
    <div class="image-wrapper">
     <img src="{% static 'ฮ.png' %}" alt="ฮ" data-video="{% static 'ฮ.mp4' %}">
  </div>
</div>

<div class="popup-container">
  <div class="popup-wrapper">
    <h2 class="popup-title"></h2>
    <video controls></video>
    <button class="popup-close-btn">X</button>
  </div>
</div>


<script>

  document.addEventListener('DOMContentLoaded', () => {
  const popupContainer = document.querySelector('.popup-container');
  popupContainer.style.display = 'none';
});

const images = document.querySelectorAll('.image-wrapper');
const popupContainer = document.querySelector('.popup-container');
const popupTitle = document.querySelector('.popup-title');
const popupVideo = document.querySelector('.popup-wrapper video');
const popupCloseBtn = document.querySelector('.popup-close-btn');

images.forEach((image) => {
  image.addEventListener('click', () => {
    const videoSrc = image.querySelector('img').dataset.video;
    const videoName = image.querySelector('img').alt;
    popupTitle.textContent = videoName;
    popupVideo.src = videoSrc;
    popupContainer.style.display = 'flex';
  });
});

popupCloseBtn.addEventListener('click', () => {
  popupVideo.pause();
  popupContainer.style.display = 'none';
});

popupContainer.addEventListener('click', (event) => {
  if (event.target === popupContainer) {
    popupVideo.pause();
    popupContainer.style.display = 'none';
  }
});

</script>
{% endblock %}
