{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="image-container">
  <div class="image-wrapper">
    <img src="{% static 'เ.png' %}" alt="เอ" data-video="{% static 'เ.mp4' %}">
  </div>
  <div class="image-wrapper">
    <img src="{% static 'แ.png' %}" alt="แอ" data-video="{% static 'แ.mp4' %}">
  </div>
  <div class="image-wrapper">
    <img src="{% static 'โ.png' %}" alt="โอ" data-video="{% static 'โ.mp4' %}">
  </div>
  <div class="image-wrapper">
    <img src="{% static 'ใ.png' %}" alt="ใอ" data-video="{% static 'ใ.mp4' %}">
  </div>
  <div class="image-wrapper">
    <img src="{% static 'ไ.png' %}" alt="ไอ" data-video="{% static 'ไ.mp4' %}">
  </div>
  <div class="image-wrapper">
    <img src="{% static 'ไม้หันอากาศ.png' %}" alt="ไม้หันอากาศ" data-video="{% static 'ั.mp4' %}">
  </div>
  <div class="image-wrapper">
    <img src="{% static 'อำ.png' %}" alt="อำ" data-video="{% static 'ำ.mp4' %}">
  </div>
  <div class="image-wrapper">
    <img src="{% static 'อิ.png' %}" alt="อิ" data-video="{% static 'ิ.mp4' %}">
  </div>
  <div class="image-wrapper">
    <img src="{% static 'อี.png' %}" alt="อี" data-video="{% static 'ี.mp4' %}">
  </div>
  <div class="image-wrapper">
    <img src="{% static 'อึ.png' %}" alt="อึ" data-video="{% static 'ึ.mp4' %}">
  </div>
  <div class="image-wrapper">
    <img src="{% static 'อือ.png' %}" alt="อือ" data-video="{% static 'ื.mp4' %}">
  </div>
  <div class="image-wrapper">
    <img src="{% static 'อุ.png' %}" alt="อุ" data-video="{% static 'ุ.mp4' %}">
  </div>
  <div class="image-wrapper">
    <img src="{% static 'อู.png' %}" alt="อู" data-video="{% static 'ู.mp4' %}">
  </div>
  <div class="image-wrapper">
    <img src="{% static 'ะ.png' %}" alt="อะ" data-video="{% static 'ะ.mp4' %}">
  </div> 
  <div class="image-wrapper">
    <img src="{% static 'า.png' %}" alt="อา" data-video="{% static 'า.mp4' %}">
  </div>
  <div class="image-wrapper">
    <img src="{% static 'ไม้ ็.png' %}" alt="ไม้ไต่คู้" data-video="{% static '็.mp4' %}">
  </div>
  <div class="image-wrapper">
    <img src="{% static 'การัน.png' %}" alt="การันต์" data-video="{% static '์.mp4' %}">
  </div>
    <div class="image-wrapper">
    <img src="{% static 'ฤ.png' %}" alt="ฤ" data-video="{% static 'ฤ.mp4' %}">
  </div>
  <div class="image-wrapper">
    <img src="{% static 'ฯ.png' %}" alt="ไปยาลน้อย" data-video="{% static 'ฯ.mp4' %}">
  </div>

</div>

<div class="popup-container">
  <div class="popup-wrapper">
    <h2 class="popup-title"></h2>
    <video controls></video>
    <button class="popup-close-btn">X</button>
  </div>
</div>


<script>

  document.addEventListener('DOMContentLoaded', () => {
  const popupContainer = document.querySelector('.popup-container');
  popupContainer.style.display = 'none';
});

const images = document.querySelectorAll('.image-wrapper');
const popupContainer = document.querySelector('.popup-container');
const popupTitle = document.querySelector('.popup-title');
const popupVideo = document.querySelector('.popup-wrapper video');
const popupCloseBtn = document.querySelector('.popup-close-btn');

images.forEach((image) => {
  image.addEventListener('click', () => {
    const videoSrc = image.querySelector('img').dataset.video;
    const videoName = image.querySelector('img').alt;
    popupTitle.textContent = videoName;
    popupVideo.src = videoSrc;
    popupContainer.style.display = 'flex';
  });
});

popupCloseBtn.addEventListener('click', () => {
  popupVideo.pause();
  popupContainer.style.display = 'none';
});

popupContainer.addEventListener('click', (event) => {
  if (event.target === popupContainer) {
    popupVideo.pause();
    popupContainer.style.display = 'none';
  }
});

</script>
{% endblock %}
